extends layout

block content
  h1= title
  p Sistema de satisfaccion de usuarios 
  table 
    tr 
      td 
        a(href="/gestion") Gestion 
      td
        a(href="/servicios") Servicios 
      td
        a(href="/cultura") Cultura
      td
        a(href="/deporte") Deporte 
        

