doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js")
  body(ng-app="SSII")
    main
      a(href="/") Volver
      block content
    block SCRIPTS  